<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INDEX</title>
</head>
<body>
  <h2>Hello EJS</h2>
  <!-- this is a JS notation in order to execute a JS code in HTML; this is possible through the ejs dependency -->
  <div>
    <%- Math.random() -%> 
  </div>
</body>
</html>
