{{!-- this {{title}} property is from index.js --}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    {{#data}} {{!-- the # sign puts the data in a for loop --}}
    <li>{{name}}</li> {{!-- this is the data.name --}}
    {{/data}}
</ul>